{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-7 col-lg-8">
         <form class="needs-validation" novalidate="" action='/add_comb' method=POST>
            <div class="col-sm-6">
                <label for="firstName" class="form-label">Напишите текст сюда</label>
                <input type="text" class="form-control" id="name" name=name placeholder="" value=abc>
            </div>
            <button class="w-100 btn btn-primary btn-lg" type="submit" value="Ok">Add</button>
         </form>
    </div>

</div>
{% endblock %}