{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row align-items-start">
      <a href="/firsttask" class="btn btn-primary">Вывести все возможные варианты перестановок строки символов</a>
      <a href="/CNK" class="btn btn-primary">Запросить у пользователя числа N и K. Вывести все наборы сочетаний из N по K</a>
      <a href="/triangle" class="btn btn-primary">Вывести треугольник Паскаля. Количество строк запросить у пользователя.</a>
      <a href="/colvo_slov" class="btn btn-primary">Запросить имя файла. Построить таблицу частот слов.</a>
      <a href="/inverse" class="btn btn-primary">Запросить имя файла. Сохранить все его строки в инвертированном виде.</a>
      <a href="/symbols" class="btn btn-primary">Запросить имя файла. Построить таблицу частот символов.</a>
      <a href="/image_filter" class="btn btn-primary">Запросить у пользователя адрес web-страницы. Сохранить её в файл, отфильтровав все изображения.</a>
      <a href="/urls" class="btn btn-primary">Запросить у пользователя адрес web-страницы. Сохранить её в файл, заменив все относительные ссылки и адреса изображений на абсолютные.</a>
      <a href="/tags" class="btn btn-primary">Запросить у пользователя адрес web-страницы. Сохранить её в файл, очистив от html-тегов.</a>
    </div>
</div>
{% endblock %}